<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="./images/pinterest_favicon.gif">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="styles.css">
<title>Pinterest Clone</title>
</head>
<body>
	<!-- Navigation -->
	<nav>
		<div id="nav-content">
			<form action="#" id="nav-search">
				<button type="submit">
					<i class="ion-social-pinterest"></i>
				</button>
				<input type="text" value="Search"> <span
					id="nav-search-dropdown"><i class="ion-navicon-round"></i><i
					class="ion-arrow-down-b"></i></span>
			</form>
			<div id="nav-user-info">
				<span id="nav-username"><img src="./images/BohnLogoSmall.png"
					alt="user profile picture">Brendan</span> <span
					id="nav-user-info-notification"></span>
			</div>
		</div>
	</nav>

	<!-- Bottom Right Buttons -->
	<div class="bottom-right-buttons">
		<ul>
			<li id="add-pin-button"><i class="ion-plus-round"></i></li>
			<li id="help-button"><i class="ion-help"></i></li>
		</ul>
	</div>

	<!-- Post Stream -->
	<div id="explore-stream">
		<div class="card-grid">
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/6d/37/a1/6d37a136680e38a6dace4e0d729cceb6.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/c6/6b/56/c66b56ced5f1d8766c237ab66d4a6952.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/fc/cd/fc/fccdfc5704e8f9fa00f399788326deb0.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/4f/54/b7/4f54b7302abb87ad3e2d7e2576167ac8.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/5d/bc/e2/5dbce2582caef19fff16e60da5fb35c2.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/474x/b7/4f/d1/b74fd15f9fa92748248c0d7c42683fe7.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/74/e6/b2/74e6b20915779b7c8381c4a65fef7128.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/474x/7f/49/30/7f4930aef4dbdd1bc75eb330e55dbacd.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/d2/cf/d7/d2cfd71b7127aad5d0e84b67a0d40ca7.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/aa/b6/79/aab679a55c1a0a486e15eb382c9f255a.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/4b/30/40/4b30402d9831ea1a77ab7529eb596e30.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/3c/b8/36/3cb836ca6883ab49354b4347ad657cbd.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/35/4f/9b/354f9bc99211a961b7040113252eed6d.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/474x/bd/9a/19/bd9a19fd3b6a9b296d906d794325e60a.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/16/97/7a/16977a06e275d1d1e4368971c71bcdf8.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/474x/05/02/18/050218cbd6b95fa6562c261ec328830a.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
			<div class="card">
				<img
					src="https://s-media-cache-ak0.pinimg.com/736x/e5/e8/cc/e5e8cc2038d98c0c93e5c9e8b4acc679.jpg">
				<div class="description">
					<p>Description</p>
				</div>
				<div class="pinner">
					<img src="./images/BohnLogoSmall.png" alt=""> <span
						id="pinner-name">Brendan Bohn</span> <br> <span
						id="pin-board">Lace-Em Up</span>
				</div>
			</div>
		</div>
	</div>

	<!-- Add Pin Modal -->
	<div id="add-pin-modal-container" class="add-pin-modal">
		<div class="add-pin-content">
			<h1>Add Pin</h1>
			<form id="add-pin-form">
				<p>Image URL</p>
				<input name="image-url" type="text" placeholder="Image URL">
				<p>Description</p>
				<input name="pin-form-description" type="text" placeholder="Description"> <br>
				<button id="add-pin-submit" type="submit">Add Pin</button>
			</form>
		</div>
	</div>

	<!-- JS -->
	<!-- jQuery CDN -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<!-- Custom Scripts -->
	<script src="scripts.js"></script>

</body>
</html>