@charset "UTF-8";

/* 프로필 편집_wrap */
.profile_edit {
	background-color: #FFFFFF;
	border: 1px solid #DBDBDB;
	border-radius: 3px;
	margin: 0px auto;
	width: 935px;
	max-width: 935px;
	font-size: 0px;
}

/* 프로필 편집_wrap_하위태그(div) */
.profile_edit * {
	box-sizing: border-box;
}

/* ======================================== 프로필 편집_메뉴 ======================================== */
/* 프로필 편집_메뉴 */
.profile_menu {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: 400;
	color: #111111;
	width: 235px;
}

/* 프로필 편집_메뉴_하위태그(div) */
.profile_menu div {
	border-left: 2px solid transparent;
	padding: 16px 30px;
	cursor: pointer;
}

/* 프로필 편집_메뉴_하위태그(div) hover */
.profile_menu div:hover {
	border-left: 2px solid #DBDBDB;
}

/* ======================================== 프로필 편집_내용(공통) ======================================== */
/* 프로필 편집_내용 */
.profile_menu_content {
	display: inline-block;
	border-left: 1px solid #DBDBDB;
	padding: 32px;
	width: 700px;
}

/* 프로필_사진 박스 */
.profile_photo {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 2px 32px 0 92px;
	cursor: pointer;
}

/* 프로필_사진 */
.profile_img {
	background-color: #F1F1F1;
	position: absolute;
	object-fit: cover;
	border-radius: 50%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	width: 100%;
	right: 0px;
	bottom: 0px;
	left: 0px;
	top: 0px;
}

/* 프로필 편집_내용_닉네임 */
.profile_nick {
	font-size: 20px;
	font-weight: 400;
	color: #111111;
	margin-bottom: 2px;
}

/* 프로필 편집_내용_소제목 */
.profile_edit_labal {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-top: 6px;
	padding-right: 32px;
	font-size: 16px;
	font-weight: 600;
	color: #111111;
	min-width: 162px;
	max-width: 162px;
}

/* 프로필 편집_내용_입력란 */
.profile_edit_txt {
	outline: none;
	border: 1px solid #DBDBDB;
	border-radius: 3px;
	padding: 0px 10px;
	font-size: 16px;
	width: 100%;
	height: 32px;
}

/* 프로필 편집_내용_설명 */
.profile_edit_description {
	margin: 8px 0px;
	font-size: 12px;
	font-weight: 400;
	color: #8E8E8E;
	font-size: 12px;
}

/* 프로필 편집_내용_버튼 */
.profile_edit_btn {
	display: inline-block;
	background-color: #0095F6;
	border: 1px solid #0095F6;
	border-radius: 4px;
	margin-top: 30px;
	padding: 5px 9px;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	cursor: pointer;
}

/* 프로필 편집_내용_비밀번호 찾기 버튼 */
.profile_edit_findpw {
	font-size: 14px;
	font-weight: 600;
	color: #0095F6;
	cursor: pointer;
}

/* ===================================== 프로필 편집_내용(프로필 편집) ===================================== */
/* 프로필 편집_내용_프로필 사진 변경 버튼 */
.profile_edit_imgbtn {
	font-size: 14px;
	font-weight: 600;
	color: #0095F6;
	cursor: pointer;
}

/* 프로필 편집_내용_프로필 편집 입력란 placeholder */
.profile_menu_content input[type='text']::placeholder {
	font-size: 12px;
}

/* ===================================== 프로필 편집_내용(파일업로드) ===================================== */
/* 프로필 편집_내용_파일업로드 팝업창 */
.edit_fileupload {
 	display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-sizing: border-box;
    width: 400px;
}

/* 프로필 편집_내용_파일업로드 팝업창 하위태그(전체) */
.edit_fileupload * {
	box-sizing: border-box;
	background-color: transparent;
}

/* 프로필 편집_내용_파일업로드 팝업창_제목 */
.edit_fileupload_tltle {
	padding: 32px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: #111111;
    width: 100%;
}

/* 프로필 편집_내용_파일업로드 팝업창_버튼 */
.edit_fileupload_btn {
	display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #DBDBDB;
    padding: 4px 8px;
    font-size: 14px;
    min-height: 48px;
    cursor: pointer;
}

/* ===================================== 프로필 편집_내용(비밀번호 변경) ===================================== */
/* 프로필 편집_내용_비밀번호 변경 입력란 placeholder */
.profile_menu_content input[type='password']::placeholder {
	font-size: 12px;
}

/* ===================================== 프로필 편집_내용(계정 삭제) ===================================== */
.edit_findpw {
	background-color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
	padding: 60px 40px;
	font-family: sans-serif;
	width: 300px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
}

/* made로고 */
.logo {
	display: block;
	margin: 0px auto;
	width: 220px;
}

.edit_findpw .form-input {
	position: relative;
	margin: 20px 0px;
}

.edit_findpw .form-input input {
	outline: none;
	height: 40px;
	padding: 10px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: transparent;
	font-size: 18px;
}

.edit_findpw .form-input input[type="button"] {
	background-color: #E91E63;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	text-transform: uppercase; /* 폰트를 대문자로 */
}

.edit_findpw .form-input input[type="button"]:hover {
	background-color: #0090FF;
}

.redcard {
	font-size: 12px;
	font-weight: bold;
	color: red;
}

/* profileedit_overlay */
.profileedit_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: 0.3;
	z-index: 100;
}

/* ===================================== 프로필 편집_내용(1:1문의) ===================================== */
/* 1:1문의_wrap */
.edit_complain {
	border-top: 2px solid #DBDBDB;
	border-bottom: 2px solid #DBDBDB;
	max-height: 275px;
	overflow-y: auto;
}

/* 1:1문의_wrap 스크롤바 */
.edit_complain::-webkit-scrollbar {
    width: 5px;
 }
 
 .edit_complain::-webkit-scrollbar-thumb {
   background-color: #C1C1C1;
   border-radius: 5px;
 }
 
 .edit_complain::-webkit-scrollbar-track {
   background-color: #F1F1F1;
   border-radius: 5px;
 }

/* 1:1문의_게시글 row */
.edit_complain_tr {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	border-collapse: collapse;
	padding: 16px;
	margin: -1px 0px;
}

/* 1:1문의_게시글 row 하위태그(전체) */
.edit_complain_tr * {
	font-size: 16px;
	color: #111111;
}

/* 1:1문의_게시글 row hover */
.edit_complain_line > .edit_complain_tr:hover {
	background-color: #ECF0FB;
}

/* 1:1문의_게시글 column */
.edit_complain_tb {
	display: flex;
	align-items: center;
	align-self: flex-start;
	justify-content: center;
    word-break: break-word;
	padding: 0px 8px;
}

/* 1:1문의_게시글 버튼 */
.edit_complain_btn {
	background-color: #0095F6;
	border: 1px solid #0095F6;
	border-radius: 4px;
	padding: 5px 9px;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	cursor: pointer;
}

/* 1:1문의_게시글 삭제 버튼 */
.edit_complain_deletebtn {
	background-color: #E60023;
	border: 1px solid #E60023;
	margin-left: 15px;
}

/* 헤더_1:1문의 팝업창 */
.edit_complain_popup {
	position: fixed;
	background: #FFFFFF;
	top: 50%;
	left: 50%;
	z-index: 200;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 32px;
	padding: 16px;
	width: 600px;
}

/* 헤더_1:1문의 팝업창 하위태그(전체) */
.edit_complain_popup * {
	box-sizing: border-box;
	color: #111111;
	font-size: 0px;
}

/* 실시간 헤더_1:1문의 팝업창 size 조절(650px) */
@media screen and (max-width: 650px) {
	.edit_complain_popup {
		width: 500px;
	}
}

/* 실시간 헤더_1:1문의 팝업창 size 조절(650px) */
@media screen and (max-width: 600px) {
	.edit_complain_popup {
		width: 100%;
	}
}

/* 헤더_1:1문의 제목, 설명 라벨 */
.edit_complain_label {
	vertical-align: top;
	padding: 12px 0px;
	font-size: 14px;
	font-weight: 400;
	width: 25%;
}

/* 헤더_1:1문의 제목, 설명 입력란 */
.edit_complain_txt {
	overflow: hidden;
	resize: none;
	border: 2px solid #DDDDDD;
	border-radius: 16px;
	padding: 8px 16px;
	width: 100%;
	outline: none;
	font-size: 16px;
}

/* 헤더_1:1문의 취소, 저장 버튼 */
.edit_complainview_btn {
	background-color: #EFEFEF;
	border-radius: 24px;
	padding: 8px 12px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

/* 헤더_1:1문의 저장 버튼 */
.edit_complainview_updatebtn {
	background-color: #E60023;
	color: #FFFFFF;
	margin-left: 10px;
}

/* 헤더_1:1문의 취소 버튼 hover */
#edit_complainview_cancelbtn:hover {
	background-color: #E2E2E2;
	opacity: 0.8;
}

/* 헤더_1:1문의 저장 버튼 hover */
.edit_complainview_updatebtn:hover {
	background-color: #AB081B;
}